



p {
    font-size: 25px;
 }

 strong {
    font-size: 30px;
 }

.mob {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}
.mob-1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    font-size: 60px;
    padding: 2%;
    border-radius: 50px;
    color: #12b69b;
    background: #333;

    font-family:"Mukta" ,serif;
}



.container{  
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 10%;
    gap: 10% ;
}

.info {
    width: 50%;
}


.imgCL {
    width: 500px;
    height: 250px;
 }

 .p1 {
    display: flex;
    margin-left: 10%;
    font-size: 50px;
 }


.btn{
    width: 100%;
    padding: 2% ;    

    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    transform: skew(10deg);
    transform: scale(1);

    background: var(--VERDE);
    cursor: pointer;
    border: 1px solid #12b69b; 

    margin-top: 30px;
}

 .btn:hover, .btn2:hover {
    background: rgb(13, 63, 20);
    transform: scale(1.1);
 }

 .btn2 {
     width: auto;
    padding: 1% ;     
 
    border-radius: 50px;
    
    text-align: center;
    transform: skew(10deg);
    transform: scale(1);

    background: #333;
    cursor: pointer;
    border: 1px solid #12b69b; 

    margin-top: 10%; 
 }


.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 15%;
}

.title {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.conteudo {
    display: flex;
    justify-content: center; 
    width: 100%;
    align-items: center; 
    gap: 10%; 
}

.label {
    height: auto;
    width: 35%;
    padding: 1%;
    margin-top: 2%;
   /* background: #12b69b; */
}

.labelFQA {
    height: auto;
    width: 50%;
    padding: 1%;

    margin-top: 5%;
}



.container-3 {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 15%;
    gap: 5%;
  /* background-color: #12b69b; */
  }

  .section {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 75vh;
    padding: 1%;   
     /* background-color: #333; */

  }

  .assunto {
    margin-top: 5%;
    padding: 2%;
  }


footer {
    margin-top: 5%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    
    bottom: 0;
    width: 100%;
}