

.container{
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 5%;
    gap: 10% ;
}

.imgCL {
    width: 500px;
    height: 250px;
 }

.main__info{
    width: 30%;
    /* background-color: blue; */
    padding: 1%;
}

.main__info .p2{
   font-size: 18px;

}

.main__info .p1 {
    font-size: 30px;
}

.btn{
    width: 100%;
    padding: 2% ;    

    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    transform: skew(10deg);
    transform: scale(1);

    background: var(--VERDE);
    cursor: pointer;
    border: 1px solid #12b69b; 

    margin-top: 30px;
}

 .btn:hover {
    background: rgb(13, 63, 20);
    transform: scale(1.1);
 }
 
 
 



