* {
    padding: 0;
    margin: 0;
}

body
{
    background: url("background_quem\ somos.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow:auto;
}

.inovacao {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    padding-top: 10px;
}



.divisao {
    padding: 10px;
}

.img-about>img {
    border-radius: 50px;
    box-shadow: rgba(3, 21, 110, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 140, 255, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text-about {
    width: 42rem;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 2%;
    font-family: 'Poppins', sans-serif;
}

.text-about>h1 {
    color: #0084ff;
   

    
}

.about-text1 {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* ------------------------------------------------------------------------------------------ */
.contentS {
    height: 300px;
    width: 500px;
    border-radius:  20px;
    overflow:hidden;
    position: absolute;
    
}